---
layout: nil
---

@using System.IO;
@using Pretzel.Categories;
@using Pretzel.Logic.Extensibility.Extensions;
@using Pretzel.Logic.Templating.Context

@Include( "htaccess.cstxt", Model, typeof( PageContext ) )

# Redirect old wordpress URLs to new ones.
@foreach( var page in Model.Site.Posts )
{
    if( page.Bag.ContainsKey( "wpid" ) )
    {
        string category = page.TryGetCategory();
        if( string.IsNullOrWhiteSpace( category ) )
        {
            continue;
        }

        string oldUrl = $"/{SlugifyFilter.Slugify( category )}/{Path.GetFileName( Path.GetDirectoryName( page.OutputFile ) )}";
@:Redirect 301 @(oldUrl) @(page.Url)
    }
}
