---
layout : pagebase
---

@using Pretzel.Categories;

@{
    string catName = Model.Page.Bag["subcategory"].ToString();
}

<article id="maincontents">
    <header>
        <h1>Posts in category: @catName</h1>
    </header>

    <div id="pagecontents" class="body">
        <ul class="clean-list">
            @foreach( var post in Model.Site.GetPostsFromSubCategory( catName ) )
            {
                <li><a href="@post.Url">@post.Title</a> - @post.Bag["description"]</li>
            }
        </ul>
    </div>
</article>
